{% extends 'basic.html' %}
{% block title %}project{% endblock title %}
{% block body %}
{% load  static %}
<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>My projects</h2>
      
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{% static 'assets/img/projimg.png' %}" class="img-fluid" alt="">
        <img src="{% static 'assets/img/pojimg2.png' %}" class="img-fluid" alt="">
        <img src="{% static 'assets/img/proj3).png' %}" class="img-fluid" alt=""> 
        <img src="{% static 'assets/img/proj4.png' %}" class="img-fluid" alt=""> 
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>(ERP Project ) Placement Management System</h3>
        <p class="fst-italic">
          The Placement Management is a module of ERP management
          project using Django. It aims to simplify and automate the placement
          process, making it more efficient for both students and companies. It
          centralizes the management of placement activities and provides an
          intuitive interface for easy administration.

          <p>Back End:Python ,Django MySql</p>
          <p>GitHub:https://github.com/ArifaMuhammed/ERP-PROJECT</p>
          
        
       
      </div>
    </div>

  </div>
</section><!-- End About Section -->


<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      
      
    </div>
 <div class="row">
 <div class="col-lg-4" data-aos="fade-right">
  <img src="{% static 'assets/img/crud.png' %}" class="img-fluid" alt="">
  <img src="{% static 'assets/img/crud2.png' %}" class="img-fluid" alt="">
 </div>
 <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
  <h3>Crud</h3>
  <p class="fst-italic">
    This project is a menu-driven program that allows us to add, update,
    delete and list records of employees working in an organization
  <p>FrontEnd:Html,CSS,Javascript,Bootstrap</p>
  <p>Back End:Python ,Django MySql</p>
  <p>https://github.com/ArifaMuhammed/crud</p>
    
  
 
 </div>
 </div>
</section>

<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      
      
    </div>
 <div class="row">
 <div class="col-lg-4" data-aos="fade-right">
  <img src="{% static 'assets/img/hos1.png' %}" class="img-fluid" alt="">
  <img src="{% static 'assets/img/hos2.png' %}" class="img-fluid" alt="">
  <img src="{% static 'assets/img/hos3.png' %}" class="img-fluid" alt="">
  <img src="{% static 'assets/img/hos4.png' %}" class="img-fluid" alt="">
  <img src="{% static 'assets/img/hos5.png' %}" class="img-fluid" alt="">
 </div>
 <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
  <h3> Hospital management System</h3>
  <p class="fst-italic">
    Hospital management project implemented using Html, CSS and
    Bootstrap aims to create a user-interface and visually appealing
    web-based system for managing various aspects of hospital.
  <p>FrontEnd:Html,CSS,Javascript,Bootstrap</p>
  <p>Back End:Python ,Django MySql</p>
  <p>https://github.com/ArifaMuhammed/hospitalmanagement</p>
    
  
 
 </div>
 </div>
</section>








{% endblock body %}