{% extends 'basic.html' %}
{% block title %}resume{% endblock title %}
{% block body %}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>ArifaMuhammed</h4>
                <p><em>To work as a Python Developer with a 
                    reputedorganization where I can improve my knowledge andtechnical skills
                     while contributing to the growth of the company.</em></p>
                    
                <ul>
                  <li>Panackal house,enanaloor po,punnamattom</li>
                  <li>+917510812276</li>
                  <li>arifamuhammedarifa@gmail.com</li>
                </ul>
              </div>
  
            
             
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">TRAINING&amp;INTERNSHIP</h3>
              <div class="resume-item">
                <h4>Python Django Full Stack Development</h4>
                <h5>2023 December5 - Present</h5>
                <p><em>@One Team Solution Edtech Pvt.Ltd, Kochi
                </em></p>
                <ul>
                  <li>Knowledge of Python and Django</li>
                  <li>Strong knowledge of OOP with Python </li>
                  <li>Frontend development with HTML and CSS</li>
                  <li>Database management with SQL</li>
                  <li>Basic knowledge of JavaScript and Angular</li>
                  <li>Basic knowledge of jQuery</li>

                </ul>
              </div>

              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Bachelor of Technology </h4>
                <h5>2014 - 2018</h5>
                <p><em> School of Science and Technology</em></p>
                <p>I am btech graduate specialized in computer science and engg from mg university</p>
              </div>
              <h3 class="resume-title">Certification</h3>
              <div class="resume-item">
                <ul>
                    <li>Full Stack Python Django
                        with Angular One Team
                        Solutions EdTech Pvt. Ltd.,
                        Kochi</li>
                    <li>Microsoft Technology
                        Associate</li>    
                </ul>
              </div>
              
            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
    
{% endblock body %}